<section class='profile-card'>
    <%= image_tag('profile.jpg', alt:'Profile', width:'100px', height:'100px') %>
    <div>
        <h2>User name</h2>
        <p>Number of posts x</p>
    </div>
</section>

<section class='post-preview'>
    <b> post <%='#'%> 1</b>
    <p>
        Consetetur kasd sit diam lorem takimata et elitr twunre ewrihnodq dwqj...
    </p>
    <span>
        Comments: x,
        Likes: y
    </span>
</section>
<div class="comments">
    <span>Username: Comment 1</span>
    <span>Username: Comment 2</span>
    <span>Username: Comment 3</span>
    <span>Username: Comment 4</span>
    <span>Username: Comment 5</span>
</div>

<section class='post-preview'>
    <b> post <%='#'%> 1</b>
    <p>
        Consetetur kasd sit diam lorem takimata et elitr twunre ewrihnodq dwqj...
    </p>
    <span>
        Comments: x,
        Likes: y
    </span>
</section>
<div class="comments">
    <span>Username: Comment 1</span>
    <span>Username: Comment 2</span>
    <span>Username: Comment 3</span>
    <span>Username: Comment 4</span>
    <span>Username: Comment 5</span>
</div>

<button class='see-all-posts pagination'>
 Pagination
</button>