<article class='article post-preview'>
    <div class='article-meta'>
        <b>Post <%= '#' %> by username</b>
        <span>
            Comments: x,
            Likes: y
        </span>
    </div>
    <p>
        Magna sanctus no ea accusam ea consetetur ipsum lorem tempor. Sit rebum magna justo kasd tempor, eirmod magna duo justo duo rebum eos sanctus. Dolore vero no voluptua dolore stet erat. Et ipsum et et diam. Tempor sit ut clita aliquyam et takimata est diam nonumy. Amet et dolor accusam aliquyam sanctus lorem no, est lorem takimata no et nonumy, erat accusam erat invidunt eirmod. Ut sed voluptua diam ea sea dolor accusam amet ipsum. Dolor diam est sit amet, vero consetetur erat et dolor, amet stet stet clita tempor dolor et et sanctus. Dolores magna elitr nonumy at. Kasd labore vero dolore sit consetetur dolore dolores, dolore diam consetetur dolore consetetur aliquyam rebum. Accusam rebum lorem dolore no, sed ut rebum no sit amet et dolore erat dolore, tempor sea tempor et magna takimata aliquyam, no est elitr dolor vero sed accusam eos erat, sanctus sadipscing est eos et kasd invidunt no voluptua ea. Dolores et aliquyam clita labore amet nonumy erat at vero. Accusam justo et lorem et, amet nonumy takimata duo labore consetetur voluptua, kasd gubergren tempor diam dolor invidunt diam ea ipsum, vero voluptua voluptua amet invidunt, rebum nonumy amet amet vero et. Aliquyam et kasd.
    </p>
    <p>
        Et ut ipsum duo erat et et eos ea accusam. Et at dolores sit amet ipsum, aliquyam sea diam sanctus dolores clita dolor, elitr sed stet consetetur invidunt invidunt accusam, eirmod elitr erat eirmod sed. Amet ut labore lorem no ea no ea et. Labore duo duo est tempor dolores dolore diam diam clita, dolore elitr justo dolores justo accusam eirmod. Diam elitr dolore erat erat stet et. Vero ea dolor gubergren aliquyam et rebum. Eos sadipscing et est accusam. Est elitr est dolor ipsum tempor, dolor ipsum labore voluptua dolor. Et sea sea eos ipsum invidunt no. At voluptua.
    </p>
</article>
<div class="comments">
    <span>Username: Comment 1</span>
    <span>Username: Comment 2</span>
    <span>Username: Comment 3</span>
    <span>Username: Comment 4</span>
    <span>Username: Comment 5</span>
</div>